<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Business Management System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Category/Index">Category Setup</a></li>
                    <li><a href="/Product/Index">Product Setup</a></li>
                    <li><a href="/Customer/Index">Customer Setup</a></li>
                    <li><a href="/Supplier/Index">Supplier Setup</a></li>
                    <li><a href="/Purchase/Index">Purchase Product</a></li>
                    <li><a href="/Sales/SaveSalesProduct">Sale Products</a></li>
                    <li><a href="/Stock/Index">Stock Report</a></li>
                    <li><a href="/Reporting/PeriodictIncomeReport">Report1</a></li>
                    <li><a href="/Reporting/PeriodicIncomeExpenseOnPurchase">Report2</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 'GLAM SQUAD'</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false);
</body>
</html>